extends layout

mixin from_location(url_name, name)
  if typeof from_key !== "undefined"
    if from_key === url_name
      li.selected 
        a(href='/von/'+url_name) #{name}
    else
      li.unselected
        a(href='/von/'+url_name) #{name}
  else
    li
      a(href='/von/'+url_name) #{name}

block content
  div.row.main-content
    hr
    h1.title-text.black-shadow
      a(href='/') ALPWETTER
    h2.black-shadow.subtitle Wohin sollen Sie fahren?
    hr
    table.dark-background
      tr
        td(style="width: 49%;white-space: nowrap;text-align:right")
          h3.black-shadow.subtitle Ich fahr von
        td(style="width:1%;white-space: nowrap;")
          ul.departure-list.black-shadow
            for dep in availableDepaturePoints
              +from_location(dep.key, dep.name)
        td(style="width: 49%;white-space: nowrap;text-align:right")
          h3.black-shadow.subtitle ab.   

    if from_key
      table.resort-table.dark-background
        tr
          th(style="width:1%") 
            i(class="fa fa-map-o " aria-hidden="true")
            br
            i(class="fa fa-arrows-h" aria-hidden="true") 
          th(style="width:230px;") 
            i(class="fa fa-train" aria-hidden="true")
            br
            small Abfährt Morgen 6h50
          th(style="width:150px;") 
            i(class="wi wi-day-sunny" aria-hidden="true")
            br
            small Morgen 12 Uhr
          th 
        for distance_and_resort in resorts_with_distance
          tr(id=distance_and_resort.resort.key)
            td(style="white-space:nowrap;text-align:right")
              span #{distance_and_resort.distance.toFixed(0)}
                small km
            td.travel-time(style="text-align:center")
            td.weather(style="white-space:nowrap;text-align:right;vertical-align:top")
            td #{distance_and_resort.resort.name}





      script.
        document.departure_from = !{JSON.stringify(from)};
        document.available_resorts = !{JSON.stringify(available_resorts)};
        function google_ready(){
          var directionsService = new google.maps.DirectionsService;
          from = document.departure_from;

          tomorrow_at_7 = new Date()

          if(tomorrow_at_7.getHours() > 7){
              tomorrow_at_7.setDate(tomorrow_at_7.getDate() + 1)
          }
          tomorrow_at_7.setHours(6, 45, 0, 0);

          fn = function(list){
            if (list.length == 0)
                return;

            resort = list.pop();
            console.log(new Date() + ' - requesting data for ' + resort.query)
            
            directionsService.route({
                origin: from.name,
                destination: resort.query,
                travelMode: 'TRANSIT',
                transitOptions: { departureTime: tomorrow_at_7 },
                provideRouteAlternatives: false,
            }, function(response, status) {
                if (status === 'OK') {
                    route = response.routes[0];
                    total_distance = route.legs.reduce((prev, curr) => prev + curr.distance.value, 0) // in meters
                    departure_time = route.legs[0].departure_time  // JavaScript Date
                    arrival_time = route.legs[route.legs.length-1].arrival_time // JavaScript Date
                    set_distance_and_duration_for_destiantion(resort, total_distance, departure_time, arrival_time)
                } else {
                  console.log("failed for " + resort.query + ": "+status);
                    (function(r){
                        setTimeout(function() { fn([r]) }, 500);
                    })(resort);
                }
                setTimeout(function() { fn(list) }, 50)
              });
            };    

            fn(document.available_resorts.slice(0))
          }

          function set_distance_and_duration_for_destiantion(destination, distance, departure, arrival){
            console.log("SETTING GOOGLE DATA for " + destination.query);
              duration_in_min = (arrival.value - departure.value)/1000/60;
              hours = Math.floor(duration_in_min/60)
              mins = duration_in_min % 60;

              $("table.resort-table tr#" + destination.key + " td.travel-time").html(hours + "<small>h</small>" + mins.toFixed(0) + "<small>m</small>")
          }
      - var GOOGLE_DIRECTIONS_API_KEY = 'AIzaSyAxdmse00dVYba1hYMjhEZmSk1pLqHXPfE'

      script(src='https://maps.googleapis.com/maps/api/js?key=#{GOOGLE_DIRECTIONS_API_KEY}&callback=google_ready')
      link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')

      script.
        jQuery(function(){
          for (resort of document.available_resorts){
              (function(r){
                  getWeatherByWoeid(r.id, r.query, function(data, query){
                    icon = weatherIconsMap[data.list[1].weather[0].icon.substring(0,2)];
                    $("table.resort-table tr#" + r.key + " td.weather").html('<small>'+data.list[1].main.temp.toFixed(0) + ' °C</small> <i class="wi ' + icon + '"\>')
                  })
              })(resort);
          }
        }); 
